<div class="sidebar-container">
  <img src="/assets/lessgo.png" class="sidebar-logo">
  <div class="nav-bar">
    <button class="vscode-btn" (click)="prevProblem()" tabindex="-1"><</button>
    <button class="vscode-btn" (click)="nextProblem()" tabindex="-1">></button>
  </div>
  <div class="problem-list">
    <ol>
      <li *ngFor="let p of problems; let i = index" 
          #problemItem
          (click)="select(i)"
          class="problem-item"
          [class.selected]="selectedIndex === i"
          [title]="p.title">
        {{ p.title }}
      </li>
    </ol>
  </div>
</div>
